/*Default CSS section*/
/* html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
  }
  html { height: 100%; }
  body { height: 100%; font-size: 62.5%; line-height: 1; font-family: Arial, Tahoma, Verdana, sans-serif; }
  
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
  ol, ul { list-style: none; }
  
  blockquote, q { quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
  strong { font-weight: bold; } 
  
  input { outline: none; }
  
  table { border-collapse: collapse; border-spacing: 0; }
  img { border: 0; max-width: 100%; }
  
  a { text-decoration: none; }
  a:hover { text-decoration: underline; } */
  /*Default CSS section*/

body, html {
    height: 100%;
}

input {
    outline: none;
}

  div {
    font-family: 'Lato', sans-serif;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .cont-width {
      max-width: 940px;
  }
  .cont-head {
      padding: 5px 0 10px 20px;
  }
  
  #main-content{
    flex: 1 0 auto;
}

  header {
      height: 62px;
  }

  #main {
    background-color: #2d2d2d;
      color: #ffffff;
  }

  #main .form-container {
    padding: 30px 0 35px 0;
  }

  .form-container, .content {
    /* width: 490px;  */
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    
  }

  #main-heading {
      padding-bottom: 30px;
      font-weight:bold;
      font-size: 26px;
  }

  #form-div {
      padding: 0px 0px 31px 0px;
  }

  #main-description {
    font-size: 13px;
    font-weight: 300;
  }

  #search-form  {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
  }

  #search-field {
    border-style: none;
    border-radius: 40px 0 0 40px; 
    font-size: 16px;
    padding: 14px 0 14px 20px;
  }
  #button{
      background-color: #f7941d;
      border-style: none;
      border-radius: 0 40px 40px 0;
      padding: 14px 23px 14px 17px; 
      color: #ffffff;
  }

  .list-container {
    padding: 16px 0 0 0;    
  }

  #found {
      text-align: center;
      margin: 0 auto 16px auto;
  }

  .songlink {
      margin-bottom: 20px;
  }
  #songlist {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
    align-content: stretch;
  }

  .songitem {
      background-color: #f0f0f0;
      padding: 20px;
      max-width: 300px;
      min-width: 300px;
  }
  a {
    color: inherit;
    border: solid 1px;
    border-color: transparent;
    margin: 10px 0 10px 0;
}

a:hover { 
    text-decoration: none;
    color: inherit;  
    border: solid 1px;
    border-color: #f7941d;
    -webkit-box-shadow: 7px 11px 46px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 11px 46px -19px rgba(0,0,0,0.75);
    box-shadow: 7px 11px 46px -19px rgba(0,0,0,0.75);
  }

  .album-cover {
   padding-right: 20px; 
  }

  .song-name {
      font-weight: 700;
      max-width: 130px;
    
  }
  .song-divider {
      width: 104px;
    border: solid 0.5px;
    margin: 0 auto;
  }

  .singer {
   font-weight: 300;
  }

  .song {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }

  .song-link {
      margin-bottom: 20px;
  }
  

  .controlers {
      padding: 5px;
      background-color: #f7941d;
      border-radius: 20px;
      text-align: center;
      width: 100px;
      display: inline-block;
      color: #ffffff;
      display: none;
  }
  .controlers:hover {
      cursor: pointer;
  }

  footer {
      flex: 0 0 auto;
      
      background-color: #2d2d2d;
  }

  footer .content {
    padding: 25px 0 25px 0;
  }

  /* {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
} */

#footer-content  div{
    display: inline-block;
    vertical-align: middle;
    font-weight: 300;
}

.footer-line {
    border: 0.5px solid;
    width: 50px;
}

@media only screen and (max-width: 768px) {
    #main-description {
        max-width: 250px;
        margin: auto;
    }
}